.register {
    padding: 80px 0 0 0;
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #bbd0ff;
    color: #212529;
}
.requirement {
    color: #e63946;
    font-weight: 500;
    font-size: 20px;
}
.label {
    display: block;
    margin-bottom: 5px;
}
.input {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0 0 30px 0;
    border: 1px solid #dee2e6;
}
.input:focus {
    outline: none;
    border-color: #0077cc;
}
.danger {
    color: red;
    position: absolute;
    margin: -30px 0 0 0;
}
.labelpassword{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.passwordIcon {
    width: 10%;
}
.button {
    background: #522D6D;
    width: 300px;
    letter-spacing: 3px;
    color: #fff;
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin: -10px auto 5px auto;
}
.login {
    margin: 0 auto;
}