.whatsappLandgin {
    border: none;
    border-radius: 10px;
    position: fixed;
    bottom: 80px;
    right: 25px;
    z-index: 2;
    transition: 300ms all ease;
}
.whatsapp {
    height: 45px;
    width: 45px;
}

.whatsappLandgin:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(10deg);
}