.general {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 0 0;
    height: 100vh;
}
.panelAdmin {
    width: 380px;
}
.container {
    width: 800px;
    padding: 0 20px;
}
.container h1{
    text-align: center;
}
.indications {
    text-align: center;
    padding: 15px;
    margin: 30px 0;
    border-radius: 10px;
    border: 1px solid #ced4da;
}
.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.label {
    display: block;
    margin: 5px;
}
.input {
    padding: 0 0 0 8px;
    width: 450px;
    margin: 0 0 30px 0;
}
.danger {
    color: red;
    position: absolute;
    margin: -30px 0 0 0;
}
.select {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.select__Category {
    width: 450px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
    font-size: 16px;
}
.button {
    padding: 10px 20px;
    background: #522D6D;
    width: 200px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}
.disable {
    cursor: default;
    color: #adb5bd;    
    padding: 10px 20px;
    background: #e9ecef;
    width: 200px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}
.indications h3 {
    text-align: center;
    margin: 0 0 20px 0;
}
.link {
    color: #3b78d8;
    font-weight: 500;
}