.navBar {
    height: 80px;
    width: 100%;
    background: #522D6D;
    padding: 5px;
    position: fixed;
    z-index: 2;
    top: 0;
}
.navBar__container {
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    height: 100%;
    width: 110px;
    margin: 0 5px 0 0;
}
.imageLogo {
    width: 110px;
    transition: 200ms all ease;
}
.imageLogo:hover {
    transform: scale(1.05);
}


/*-----Container Login y Carrito-----*/
.userPanel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.linkUserPanel {
    height: 70px;
    color: white;
}
/*-----Login-----*/
.login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    letter-spacing: 2px;
}
.register {
    height: 100%;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    letter-spacing: 2px;
}

/*-----Carrito-----*/
.car {
    height: 100%;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    font-size: 25px;
}
